[Unit]
Description=reelyActive Hyperlocal Context Server for Pi
After=network.target

[Service]
WorkingDirectory=/home/pi/reelyActive/pi-suite
ExecStart=/usr/local/node/bin/node bin/pi-suite-hci
Restart=on-failure
User=pi
Environment=PORT=3001

[Install]
WantedBy=multi-user.target

